@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#white {
    background-color: white;
    padding: 7px;
    overflow: hidden;
}


#nav {
    padding-right: 5px;
    font-family: Inter, serif;
    padding: 7px;
    font-size: large;
    color: rgb(21, 87, 60);
    float: right;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: stretch;
    height: 100%;
}

#nav2 {
    font-family: 'Inter', sans-serif;
    padding: 7px;
    padding-left: 10px;
    font-size: 23px;
    color: rgb(21, 87, 60);
    float: left;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-weight: bold;
    text-decoration: none;
}

#adjustsize {
    float: left;
    overflow: hidden;
    width: 50px;
}
