.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  margin:50px;
  position:relative;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-text {
  padding: 16px;
  font-size: 16px;
  color: #333;
  background-color: #fafafa;
}

h1 {
  font-size:50px;
  text-align:center;
  padding:100px;
}

.card-container {
  display:flex;
  width:100%;
  gap:32px;
  overflow-x:auto;
  scrollbar-color:transparent transparent;
}

p {
  background: black;
}

.delete-btn {
  position:absolute;
  background-color:grey;
  color:white;
  width:24px;
  height:24px;
  font-size:14px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  z-index:10;
}
