/* General reset */
.center {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.sign-up-container {
  text-align: center;
  margin: 5px;
}

#bgcolor {
  background-color: #bcecd8;
}

/* Container styling */
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position:absolute;
  transform: translate(-50%, -50%);
}

/* Input styling */
input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007BFF;
}

/* Button styling */
.submit-btn {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

#fillgreen {
  background-color: rgb(21, 87, 60);
}

#formformat {
  display: inline-block;
  width: 100%;
}